In [12]:
df.head()

,brand,che_pc_usd,che_perc_gdp,cluster_nl,corporation,country,launch_date,date,drug_id,ind_launch_date,indication,insurance_perc_che,population,prev_perc,price_month,price_unit,public_perc_che,therapeutic_area,target
0,BRAND_354E,1.209114,1.665879,BRAND_354E_COUNTRY_88A3,CORP_D524,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_8795,-1,['IND_C3B6'],1.893333,1.008039,0.028367,1.006444,1.013784,1.835821,THER_AREA_980E,1.000784
1,BRAND_626D,-1.000000,-1.000000,BRAND_626D_COUNTRY_8B47,CORP_01C7,COUNTRY_8B47,2014-06-01,2014-06-01,DRUG_ID_E66E,2014-09-01 00:00:00,"['IND_1590', 'IND_ECAC']",-1.000000,1.023562,0.000047,-1.000000,1.626677,-1.000000,THER_AREA_96D7,1.000000
2,BRAND_45D9,1.209114,1.665879,BRAND_45D9_COUNTRY_88A3,CORP_39F7,COUNTRY_88A3,2014-06-01,2014-06-01,DRUG_ID_F272,-1,['IND_B2EF'],1.893333,1.008039,0.001502,-1.000000,3.144874,1.835821,THER_AREA_96D7,1.002258
3,BRAND_D724,1.851280,2.051770,BRAND_D724_COUNTRY_445D,CORP_711A,COUNTRY_445D,2014-06-01,2014-06-01,DRUG_ID_1D4E,-1,['IND_BAFB'],1.000000,1.253186,0.001304,-1.000000,1.213446,1.805970,THER_AREA_6CEE,1.068761
4,BRAND_4887,1.791199,2.059130,BRAND_4887_COUNTRY_D8B0,CORP_443D,COUNTRY_D8B0,2014-06-01,2014-06-01,DRUG_ID_AA88,-1,['IND_3F31'],2.013333,1.639352,0.054467,1.018589,1.008708,1.880597,THER_AREA_6CEE,1.036312

In [11]:
import pandas as pd

df = pd.read_csv('../data/raw/train_data.csv')
clusterdf = df[['brand', 'country', 'che_pc_usd', 'che_perc_gdp', 'population', 'date', 'target' ]]

clusterdf.head()

# Select rows where 'che_pc_usd', 'che_perc_gdp', or 'population' is -1
invalid_entries = clusterdf[
    (clusterdf['che_pc_usd'] == -1) |
    (clusterdf['che_perc_gdp'] == -1) |
    (clusterdf['population'] == -1)
]

# Display the filtered rows
invalid_entries

,brand,country,che_pc_usd,che_perc_gdp,population,date,target
1,BRAND_626D,COUNTRY_8B47,-1.000000,-1.0,1.023562,2014-06-01,1.000000
7,BRAND_626D,COUNTRY_5180,1.237984,-1.0,1.050796,2014-06-01,1.002721
19,BRAND_626D,COUNTRY_5180,1.237984,-1.0,1.050796,2014-07-01,1.010885
23,BRAND_626D,COUNTRY_8B47,-1.000000,-1.0,1.023562,2014-07-01,1.011875
58,BRAND_626D,COUNTRY_8B47,-1.000000,-1.0,1.023562,2014-08-01,1.007662
...,...,...,...,...,...,...,...
118827,BRAND_AA1F,COUNTRY_8B47,-1.000000,-1.0,1.025199,2022-12-01,1.051638
118851,BRAND_2058,COUNTRY_5180,1.340020,-1.0,1.051939,2022-12-01,1.105878
118882,BRAND_D786,COUNTRY_8B47,-1.000000,-1.0,1.025199,2022-12-01,1.038311
118907,BRAND_F148,COUNTRY_8B47,-1.000000,-1.0,1.025199,2022-12-01,1.295619
118909,BRAND_76D6,COUNTRY_5180,1.340020,-1.0,1.051939,2022-12-01,1.632343

In [7]:
# Ensure 'date' is in datetime format
clusterdf['date'] = pd.to_datetime(clusterdf['date'])

# Extract month from 'date'
clusterdf['month'] = clusterdf['date'].dt.month

grouped_df = clusterdf.groupby(['country', 'brand', 'month']).mean().reset_index()

grouped_df.head()

C:\Users\adria\AppData\Local\Temp\ipykernel_22492\1406434861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clusterdf['date'] = pd.to_datetime(clusterdf['date'])
C:\Users\adria\AppData\Local\Temp\ipykernel_22492\1406434861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clusterdf['month'] = clusterdf['date'].dt.month

,country,brand,month,che_pc_usd,che_perc_gdp,population,date,target
0,COUNTRY_0309,BRAND_0056,1,1.721203,1.950801,1.496017,2020-01-01 09:36:00,2.669673
1,COUNTRY_0309,BRAND_0056,2,1.721203,1.950801,1.496017,2020-02-01 09:36:00,2.480374
2,COUNTRY_0309,BRAND_0056,3,1.701311,1.925890,1.495120,2019-03-01 09:36:00,2.295542
3,COUNTRY_0309,BRAND_0056,4,1.701311,1.925890,1.495120,2019-04-01 09:36:00,2.199500
4,COUNTRY_0309,BRAND_0056,5,1.701311,1.925890,1.495120,2019-05-01 09:36:00,2.285819